<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">博客园</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">园子<span class="sr-only">(current)</span></a></li>
                <li><a href="#">新闻</a></li>
                <li><a href="#">博问</a></li>
                <li><a href="#">闪存</a></li>
                <li><a href="#">小组</a></li>
                <li><a href="#">收藏</a></li>
                <li><a href="#">招聘</a></li>
                <li><a href="#">班级</a></li>
                <li><a href="#">找找看</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.username %}
                    <li><a href="{% url 'login' %}">{{ request.user.username }}</a></li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    <li><a href="#">短消息</a></li>
                    <li><a href="{% url 'backend' %}">后台管理</a></li>
                    <li><a href="#">设置</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'logout' %}">注销</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">登录</a></li>
                    <li><a href="#">注册</a></li>
                {% endif %}
                </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">网站分类</h3>
                </div>
                <div class="panel-body">
                    .NET技术
                </div>
                <div class="panel-body">
                    编程语言
                </div>
                <div class="panel-body">
                   软件设计
                </div>
                <div class="panel-body">
                    Web前端
                </div>
                <div class="panel-body">
                    企业信息化
                </div>
                <div class="panel-body">
                    手机开发
                </div>
                <div class="panel-body">
                    软件工程
                </div>
                <div class="panel-body">
                    数据库设计
                </div>
                <div class="panel-body">
                    操作系统
                </div>
                <div class="panel-body">
                    其他分类
                </div>
                <div class="panel-body">
                    所有随笔
                </div>
                <div class="panel-body">
                    所有评论
                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div class="article_list">
                {% for article in article_list %}
                    <div class="article_item">
                        <h5><a href="/{{ article.user.username }}/articles/{{ article.pk }}">{{ article.title }}</a></h5>
                        <div>
{#  进入个人站点页面 {{ article.user.username }}#}
                            <span class="media-left"><a href="/{{ article.user.username }}"><img width="60" height="60"
                                                                     src="/static/img/timg%20(2).jpg" alt=""></a></span>

                            <span class="media-right small desc ">
{#                              文章描述#}
                              {{ article.desc }}
                          </span>

                        </div>
                        <div class="info small">
                            {#                          文章作者#}
                            <span><a href="/{{ article.user.username }}">{{ article.user.username }}</a></span> &nbsp;
                            发布于 <span>{{ article.create_time|date:'Y-m-d H:i' }}</span>&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-comment"></span><a
                                href="">评论({{ article.comment_count }})</a>&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-thumbs-up"></span><a href="">点赞({{ article.up_count }})</a>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>


        </div>
        <div class="col-md-3">

            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>