<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/login.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
</head>
<body>

    <div class="container">

      <form class="form-signin" action="{% url 'login' %}" method="post">
          {% csrf_token %}
        <h2 class="form-signin-heading">请您登陆</h2>
        <label for="user" class="sr-only">用户名</label>
        <input type="text" id="user" class="form-control" placeholder="用户名" required="" autofocus="" name="user">
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="密码" required="" name="pwd">
        <label for="code" class="sr-only">验证码</label>
        <input type="text" id="code" class="form-control" placeholder="验证码" required="" name="code">
          <img onclick="changeImg(this);" src="/code/" alt="" title="点击更换">
          <div class="checkbox">
          <label>
            <input class="form-control" type="submit" value="提交"> {{ msg }}
          </label>
        </div>

      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script>
        function changeImg(ths) {
            ths.src = ths.src + '?';
        }
    </script>


</body>
</html>